@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html {
  overflow: auto;

}

html,
body {
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;

  font-family: "Maven Pro", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


textarea {
  font-family: "Maven Pro", sans-serif !important;
}


*{
  font-family: "Maven Pro", sans-serif !important;
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a {
  cursor: pointer;
  color: #707070;

  text-decoration: none;
}

/* *::-webkit-scrollbar-track {
  -webkit-box-shadow: transparent;
  border-radius: 0px;
  background-color: transparent;
  height: 0px;
}

*::-webkit-scrollbar {
  border-radius: 10px;
  width: 0px;
  background-color: transparent;
  height: 0px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 0px;
  -webkit-box-shadow: transparent;
  background-color: transparent;
  height: 0px;
} */


button {
  padding: 0px 8px;
}


.ohr-wrapper {
  width: 100%;
  padding-top: 125px;
  background-color: #fef9ef;
}

.ohr-container {
  max-width: 1560px;
  margin: auto;
  padding: 8px 24px;
}

.ohr-success-button {
  background-color: #1877F2;
  color: white;
  border-radius: 48px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 12px;
  height: 48px;
  margin: 16px 0px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  cursor: poMaven Pro;
}

.ohr-error {
  color: rgb(255, 53, 53);
  font-size: 12px;
  text-align: center;
}

.ohr-success {
  color: rgb(213, 231, 216);
  font-size: 12px;
  text-align: center;
}


.ohr-special-link {
  font-size: 16px;
  line-height: 24px;
  color: #2751E9 !important;
  cursor: poMaven Pro;
}

.ohr-success-black {
  color: #111111;
  font-size: 12px;
  text-align: center;
}

.ohr-success-green {
  color: #22aa5b;
  font-size: 12px;
  text-align: center;
}

.ohr-desktop-nav {
  max-width: 1440px;
  margin: auto;
  padding: 0px 40px !important;
  height: 100%;
  z-index: 100;
  background: #FFFFFF;
}


.ohr-mt-1 {
  margin-top: 80px !important;
}

.ohr-container-fluid {
  max-width: 1440px;
  margin: auto;
  height: 100%;
  padding: 60px 40px;
}



.ohr-v-100 {
  height: 100vh;
}

.ohr-h-100 {
  height: 100%;
}

.ohr-auto-height {
  height: auto !important;
}

.ohr-cover-image {
  object-fit: cover;
}

.ohr-w-100 {
  width: 100%;
}

.ohr-v-center {
  align-items: center !important;
  display: flex;
}

.ohr-h-center {
  display: flex;
  justify-content: center;
}

.ohr-auto-height {
  height: auto !important;
}


.ohr-link {
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #9FA2AD;
}

.ohr-no-overflow {
  overflow: hidden;
}

.ohr-row {
  display: flex;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.ohr-col-1 {
  flex: 0 0 8.33%;
  -ms-flex: 0 0 8.33%;
  max-width: 0 0 8.33%;
  padding: 8px;
  height: 100%;
}

.ohr-col-2 {
  flex: 0 0 16.66%;
  -ms-flex: 0 0 16.66%;
  max-width: 0 0 16.66%;
  padding: 8px;
  height: 100%;

}

.ohr-col-3 {
  flex: 24.99%;
  -ms-flex: 24.99%;
  max-width: 24.99%;
  padding: 8px;
  height: 100%;



}

.ohr-col-4 {
  flex: 33.32%;
  -ms-flex: 33.32%;
  max-width: 33.32%;
  padding: 8px;
  height: 100%;

}

.ohr-col-5 {
  flex: 41.64%;
  -ms-flex: 41.64%;
  max-width: 41.65%;
  padding: 8px;
  height: 100%;

}

.ohr-col-6 {
  flex: 49.98%;
  max-width: 49.98%;
  -ms-flex: 49.98;
  padding: 8px;
  height: 100%;

}

.ohr-col-7 {
  flex: 58.31%;
  max-width: 58.31%;
  -ms-flex: 58.31%;
  padding: 8px;
  height: 100%;
}

.ohr-col-8 {
  flex: 66.64%;
  max-width: 66.64%;
  -ms-flex: 66.64%;
  padding: 8px;
  height: 100%;
}

.ohr-col-9 {
  flex: 74.97%;
  max-width: 74.97%;
  -ms-flex: 74.97%;
  padding: 8px;
  height: 100%;
}

.ohr-col-10 {
  flex: 83.3%;
  max-width: 83.3%;
  -ms-flex: 83.3%;
  padding: 8px;
  height: 100%;

}

.ohr-col-11 {
  flex: 91.63%;
  max-width: 91.63%;
  -ms-flex: 91.63%;
  padding: 8px;
  height: 100%;

}

.ohr-col-12 {
  flex: 99.96%;
  max-width: 99.96%;
  -ms-flex: 99.96%;
  padding: 8px;
  height: 100%;
}


@media (max-width: 992px) {

  .ohr-col-lg-1 {
    flex: 0 0 8.33%;
    -ms-flex: 0 0 8.33%;
    max-width: 0 0 8.33%;
    padding: 8px;
    height: 100%;
  }

  .ohr-col-lg-2 {
    flex: 0 0 16.66%;
    -ms-flex: 0 0 16.66%;
    max-width: 0 0 16.66%;
    padding: 8px;
    height: 100%;
  }

  .ohr-col-lg-3 {
    flex: 24.99%;
    -ms-flex: 24.99%;
    max-width: 24.99%;
    padding: 8px;
    height: 100%;


  }

  .ohr-col-lg-4 {
    flex: 33.32%;
    -ms-flex: 33.32%;
    max-width: 33.32%;
    padding: 8px;
    height: 100%;

  }

  .ohr-col-lg-5 {
    flex: 41.64%;
    -ms-flex: 41.64%;
    max-width: 41.65%;
    padding: 8px;
    height: 100%;

  }

  .ohr-col-lg-6 {
    flex: 49.98%;
    max-width: 49.98%;
    -ms-flex: 49.98;
    padding: 8px;
    height: 100%;

  }

  .ohr-col-lg-7 {
    flex: 58.31%;
    max-width: 58.31%;
    -ms-flex: 58.31%;
    padding: 8px;
    height: 100%;
  }

  .ohr-col-lg-8 {
    flex: 66.64%;
    max-width: 66.64%;
    -ms-flex: 66.64%;
    padding: 8px;
    height: 100%;
  }

  .ohr-col-lg-9 {
    flex: 74.97%;
    max-width: 74.97%;
    -ms-flex: 74.97%;
    padding: 8px;
    height: 100%;
  }

  .ohr-col-lg-10 {
    flex: 83.3%;
    max-width: 83.3%;
    -ms-flex: 83.3%;
    padding: 8px;
    height: 100%;
  }

  .ohr-col-lg-11 {
    flex: 91.63%;
    max-width: 91.63%;
    -ms-flex: 91.63%;
    padding: 8px;
    height: 100%;

  }

  .ohr-col-lg-12 {
    flex: 99.96%;
    max-width: 99.96%;
    -ms-flex: 99.96%;
    padding: 8px;
    height: 100%;
  }
}

@media (max-width: 768px) {

  .ohr-container-fluid {
    padding: 16px;
  }

  .ohr-desktop-nav {
    padding: 16px !important;
  }


  .ohr-col-md-1 {
    flex: 0 0 8.33%;
    -ms-flex: 0 0 8.33%;
    max-width: 0 0 8.33%;
    padding: 6px;
    height: 100%;
  }

  .ohr-col-md-2 {
    flex: 0 0 16.66%;
    -ms-flex: 0 0 16.66%;
    max-width: 0 0 16.66%;
    padding: 6px;
    height: 100%;
  }

  .ohr-col-md-3 {
    flex: 24.99%;
    -ms-flex: 24.99%;
    max-width: 24.99%;
    padding: 6px;
    height: 100%;


  }

  .ohr-col-md-4 {
    flex: 33.32%;
    -ms-flex: 33.32%;
    max-width: 33.32%;
    padding: 6px;
    height: 100%;

  }

  .ohr-col-md-5 {
    flex: 41.64%;
    -ms-flex: 41.64%;
    max-width: 41.65%;
    padding: 6px;
    height: 100%;

  }

  .ohr-col-md-6 {
    flex: 49.98%;
    max-width: 49.98%;
    -ms-flex: 49.98;
    padding: 6px;
    height: 100%;

  }

  .ohr-col-md-7 {
    flex: 58.31%;
    max-width: 58.31%;
    -ms-flex: 58.31%;
    padding: 6px;
    height: 100%;
  }

  .ohr-col-md-8 {
    flex: 66.64%;
    max-width: 66.64%;
    -ms-flex: 66.64%;
    padding: 6px;
    height: 100%;
  }

  .ohr-col-md-9 {
    flex: 74.97%;
    max-width: 74.97%;
    -ms-flex: 74.97%;
    padding: 6px;
    height: 100%;
  }

  .ohr-col-md-10 {
    flex: 83.3%;
    max-width: 83.3%;
    -ms-flex: 83.3%;
    padding: 6px;
    height: 100%;
  }

  .ohr-col-md-11 {
    flex: 91.63%;
    max-width: 91.63%;
    -ms-flex: 91.63%;
    padding: 6px;
    height: 100%;

  }

  .ohr-col-md-12 {
    flex: 99.96%;
    max-width: 99.96%;
    -ms-flex: 99.96%;
    padding: 6px;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .ohr-desktop-nav-wrapper {
    display: none;
  }

  .ohr-map-search-bar {
    display: flex;
  }

  .ohr-container-fluid {
    padding: 16px;
  }

  .mt-2 {
    margin-top: 80px !important;
  }

  .ohr-col-sm-1 {
    flex: 0 0 8.33%;
    -ms-flex: 0 0 8.33%;
    max-width: 0 0 8.33%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-sm-2 {
    flex: 0 0 16.66%;
    -ms-flex: 0 0 16.66%;
    max-width: 0 0 16.66%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-sm-3 {
    flex: 24.99%;
    -ms-flex: 24.99%;
    max-width: 24.99%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-sm-4 {
    flex: 33.32%;
    -ms-flex: 33.32%;
    max-width: 33.32%;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-sm-5 {
    flex: 41.64%;
    -ms-flex: 41.64%;
    max-width: 41.65%;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-sm-6 {
    flex: 49.98%;
    max-width: 49.98%;
    -ms-flex: 49.98;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-sm-7 {
    flex: 58.31%;
    max-width: 58.31%;
    -ms-flex: 58.31%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-sm-8 {
    flex: 66.64%;
    max-width: 66.64%;
    -ms-flex: 66.64%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-sm-9 {
    flex: 74.97%;
    max-width: 74.97%;
    -ms-flex: 74.97%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-sm-10 {
    flex: 83.3%;
    max-width: 83.3%;
    -ms-flex: 83.3%;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-sm-11 {
    flex: 91.63%;
    max-width: 91.63%;
    -ms-flex: 91.63%;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-sm-12 {
    flex: 99.96%;
    max-width: 99.96%;
    -ms-flex: 99.96%;
    padding: 4px;
    height: 100%;
  }
}


@media (max-width: 310px) {
  .ohr-desktop-nav-wrapper {
    display: none;
  }

  .ohr-map-search-bar {
    display: flex;
  }

  .ohr-container-fluid {
    padding: 16px;
  }

  .mt-2 {
    margin-top: 80px !important;
  }

  .ohr-col-xs-1 {
    flex: 0 0 8.33%;
    -ms-flex: 0 0 8.33%;
    max-width: 0 0 8.33%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-xs-2 {
    flex: 0 0 16.66%;
    -ms-flex: 0 0 16.66%;
    max-width: 0 0 16.66%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-xs-3 {
    flex: 24.99%;
    -ms-flex: 24.99%;
    max-width: 24.99%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-xs-4 {
    flex: 33.32%;
    -ms-flex: 33.32%;
    max-width: 33.32%;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-xs-5 {
    flex: 41.64%;
    -ms-flex: 41.64%;
    max-width: 41.65%;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-xs-6 {
    flex: 49.98%;
    max-width: 49.98%;
    -ms-flex: 49.98;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-xs-7 {
    flex: 58.31%;
    max-width: 58.31%;
    -ms-flex: 58.31%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-xs-8 {
    flex: 66.64%;
    max-width: 66.64%;
    -ms-flex: 66.64%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-xs-9 {
    flex: 74.97%;
    max-width: 74.97%;
    -ms-flex: 74.97%;
    padding: 4px;
    height: 100%;
  }

  .ohr-col-xs-10 {
    flex: 83.3%;
    max-width: 83.3%;
    -ms-flex: 83.3%;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-xs-11 {
    flex: 91.63%;
    max-width: 91.63%;
    -ms-flex: 91.63%;
    padding: 4px;
    height: 100%;

  }

  .ohr-col-xs-12 {
    flex: 99.96%;
    max-width: 99.96%;
    -ms-flex: 99.96%;
    padding: 4px;
    height: 100%;
  }
}


.mt-1 {
  margin-top: 64px
}

.mt-2 {
  margin-top: 128px
}

.mt-16 {
  margin-top: 16px;
}

.ohr-no-gutter {
  padding: 0px;
}

.ohr-h-gutter {
  padding: 0 8px;
}

.ohr-v-gutter {
  padding: 8px 0px;
}

.ohr-left {
  justify-content: flex-start;
}

.ohr-right {
  justify-content: flex-end;
  display: flex;
}